<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">
    <insert id="insertBanch">
        insert into dish_flavor(dish_id, name, value) values
                                                          <foreach collection="flavors" item = "d" separator=",">
                                                              (#{d.dishId}, #{d.name}, #{d.value})
                                                          </foreach>
    </insert>

    <delete id="deleteById">
        delete from dish_flavor where dish_id in
                           <foreach collection="ids" item = "dishId" separator="," open="(" close=")">
                               #{dishId}
                           </foreach>
    </delete>

    <update id="update">
        update dish_flavor
        <set>
            <if test="dish_id != null">
                dish_id = #{dishId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="value != null">
                value = #{value}
            </if>
        </set>
        where id =#{id}
    </update>
</mapper>